/* Стили для ссылки с эффектом при наведении */
.nav-link-no-ac {
    color: #007bff; /* Цвет по умолчанию */
    text-decoration: none; /* Убираем подчеркивание */
  }
  
  .nav-link-no-ac:hover {
    color: gray; /* Цвет при наведении */
  }
  